@font-face {
    font-family: NanumR_B;
    src: url("../font/NanumSquareRoundB.ttf") format("truetype");
}

@font-face {
    font-family: NanumR_EB;
    src: url("../font/NanumSquareRoundEB.ttf") format("truetype");
}

@font-face {
    font-family: NanumR_L;
    src: url("../font/NanumSquareRoundL.ttf") format("truetype");
}

@font-face {
    font-family: NanumR_R;
    src: url("../font/NanumSquareRoundR.ttf") format("truetype");
}

#title {
    font-size: 60px;
    margin-top: 30px;
    color: #ffffff;
    text-shadow: 5px 5px 5px #575757;
    text-align: center;
    font-family: NanumR_R;
}

#sub_title{
    margin-top: -5px;
    margin-bottom: 40px;
    font-family: 'Kaushan Script', cursive; text-align: center;
    color: #b9b9b9;
    text-shadow: 5px 5px 5px #575757;
}

body {
    transition: 1s;
    background: url("../image/fractal-art-3217212.jpg.png") no-repeat center center fixed;
    background-size: cover;
    transition: 1s;
}

body:hover {
    transition: 2s;
    background: url("../image/fractal-art-3217212_1.jpg.png") no-repeat center center fixed;
    background-size: cover;
    transition: 1s;

}

.select_style{
    transition: 0.5s;
}

.select_style:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 5px 2px #abacff;
}
.btn_style{
    background: #4d4d4d;
}


.features-boxed p {
    color: #7d8285
}

.features-boxed h2 {
    font-weight: 700;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit
}

@media (max-width: 767px) {
    .features-boxed h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.features-boxed .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto
}

.features-boxed .intro p {
    margin-bottom: 0
}

.features-boxed .features {
    padding: 50px 0
}

.features-boxed .item {
    text-align: center
}

.features-boxed .item .box {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px
}

.features-boxed .item .icon {
    font-size: 60px;
    color: #1485ee;
    margin-top: 20px;
    margin-bottom: 35px
}

.features-boxed .item .name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 0;
    color: inherit
}

.features-boxed .item .description {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px
}

.team-boxed {
}

.team-boxed p {
    color: #7d8285
}

.team-boxed h2 {
    font-weight: 700;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit
}

@media (max-width: 767px) {
    .team-boxed h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.team-boxed .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto
}

.team-boxed .intro p {
    margin-bottom: 0
}

.team-boxed .people {
    padding: 50px 0
}

.team-boxed .item {
    text-align: center
}

.team-boxed .item .box {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px
}

.team-boxed .item .name {
    font-weight: 700;
    margin-top: 28px;
    margin-bottom: 8px;
    color: inherit
}

.team-boxed .item .title {
    text-transform: uppercase;
    font-weight: 700;
    color: #d0d0d0;
    letter-spacing: 2px;
    font-size: 13px
}

.team-boxed .item .description {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px
}

.team-boxed .item img {
    max-width: 160px
}

.team-boxed .social {
    font-size: 18px;
    color: #a2a8ae
}

.team-boxed .social a {
    color: inherit;
    margin: 0 10px;
    display: inline-block;
    opacity: .7
}

.team-boxed .social a:hover {
    opacity: 1
}
.features-boxed p {
    color: #7d8285
}

.features-boxed h2 {
    font-weight: 700;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit
}

@media (max-width: 767px) {
    .features-boxed h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.features-boxed .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto
}

.features-boxed .intro p {
    margin-bottom: 0
}

.features-boxed .features {
    padding: 50px 0
}

.features-boxed .item {
    text-align: center
}

.features-boxed .item .box {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px
}

.features-boxed .item .icon {
    font-size: 60px;
    color: #1485ee;
    margin-top: 20px;
    margin-bottom: 35px
}

.features-boxed .item .name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 0;
    color: inherit
}

.features-boxed .item .description {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px
}

.team-boxed {
}

.team-boxed p {
    color: #7d8285
}

.team-boxed h2 {
    font-weight: 700;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit
}

@media (max-width: 767px) {
    .team-boxed h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.team-boxed .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto
}

.team-boxed .intro p {
    margin-bottom: 0
}

.team-boxed .people {
    padding: 50px 0
}

.team-boxed .item {
    text-align: center
}

.team-boxed .item .box {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px
}

.team-boxed .item .name {
    font-weight: 700;
    margin-top: 28px;
    margin-bottom: 8px;
    color: inherit
}

.team-boxed .item .title {
    text-transform: uppercase;
    font-weight: 700;
    color: #d0d0d0;
    letter-spacing: 2px;
    font-size: 13px
}

.team-boxed .item .description {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px
}

.team-boxed .item img {
    max-width: 160px
}

.team-boxed .social {
    font-size: 18px;
    color: #a2a8ae
}

.team-boxed .social a {
    color: inherit;
    margin: 0 10px;
    display: inline-block;
    opacity: .7
}

.team-boxed .social a:hover {
    opacity: 1
}

th{
    transition: 0.5s;
}

th:hover{
    transition: 0.5s;
    font-size: 20px;
}


.table_{
    width: 80%;
    margin: 0 auto;
}