@font-face {
    font-family: NanumR_B;
    src: url("../../homework/assets/font/NanumSquareRoundB.ttf") format("truetype");
}

@font-face {
    font-family: NanumR_EB;
    src: url("../../homework/assets/font/NanumSquareRoundEB.ttf") format("truetype");
}

@font-face {
    font-family: NanumR_L;
    src: url("../../homework/assets/font/NanumSquareRoundL.ttf") format("truetype");
}

@font-face {
    font-family: NanumR_R;
    src: url("../../homework/assets/font/NanumSquareRoundR.ttf") format("truetype");
}

#logo {
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    margin-top: -10px;
    color: #ffffff;
    text-shadow: 5px 5px 5px #000000;

}

#login {
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
    margin-top: -30px;
    color: #FFFFFF;
    height: 10px;
}

.login-page {
    width: 450px;
    padding: 8% 0 0;
    margin: -100px auto;
    box-radius: 10px;
}

.form {
    position: relative;
    z-index: 1;
    background: linear-gradient(45deg, #1a1a1a, #222537);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    width: 100%;
    height: 40px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: 0.5s;
}

.form input:hover{
    transition: 0.5s;

    border-bottom: 2px solid #FFFFFF;
}

::placeholder{
    color: rgba(145, 145, 145, 0.46);
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

#bu {
    margin-top: 10px;
}
body{
    text-align:center;
}
body:before{
    content:'';
    height:100%;
    display:inline-block;
    vertical-align:middle;
}
button{
    font-size: 40px;
    height: 50px;
    background:rgba(0,0,0,0);
    color:#fff;
    border:none;
    position:relative;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:200ms ease all;
    outline:none;
    width: 100%;
}
button:hover{
    background:rgba(0,0,0,0);
    color:#1AAB8A;
}
button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:200ms ease all;
}
button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
button:hover:before,button:hover:after{
    width:100%;
    transition:400ms ease all;
}